<div>

  <!-- <p> Test variable of function: {{getInfoFunction({})}} </p> -->
  <!-- <p>Test  -  {{personsObject[0].developername}}</p> -->
                      <table class="table table-striped">
                        <thead>
                           <tr>
                             <th>Task number</th>
                             <th>Developer Name</th>
                             <th>Review Date</th>
                             <th>Done</th>
                           </tr>
                         </thead>
                         <tbody ng-repeat="developer in personsObject">
                           <tr>
                             <td>{{developer.tasknumber}}</td>
                             <td>{{developer.developername}}</td>
                             <td>{{developer.date}}</td>
                             <td><input type="checkbox" ng-model="developer.done"/> {{developer.done}}</td>
                           </tr>

                        </tbody>
                      </table>
</div>
