<div>

                      <table class="table table-striped">
                        <thead>
                           <tr>
                             <th>Task number</th>
                             <th>Developer Name</th>
                             <th>Review Date</th>
                             <th>Done</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr ng-repeat="developer in developerObject">
                             <td>{{developer.tasknumber}}</td>
                             <td>{{developer.developername}}</td>
                             <td ng-model="developer.date">{{developer.date}}</td>
                             <td><input type="checkbox" ng-model="developer.done"/> {{developer.done}}</td>
                           </tr>

                        </tbody>
                      </table>
</div>
